version: '3.8'
services:
  devcontainer:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/ClickUpMCP:cached
    ports:
      - "3000:3000"
      - "8080:8080"
    container_name: ClickUpMCP-devcontainer
    command: sleep infinity